{% extends 'base.html' %}
<img src="SEEWEED AI logo.png" width="150" height="205" alt="증명사진">
{% block contents %}

    <div style="height: 20rem; background-color: #38df81; border-radius: 1rem; margin: 2rem;">
        <h1>
            Please write your text below
            <form action = "/copycap/" method = "post">
                {% csrf_token %}
                <p><textarea name = "user_input" placeholder = "음성으로 만들고 싶은 text를 입력하세요." autofocus cols = "50" rows="10"></textarea></p>
                <p><input type = "submit" value="POST"></p>
            </form>
        </h1>
        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
            <h4>
                {{hello_world.text}}
            </h4>
            {% endfor %}
        {% endif %}
    </div>

{% endblock  %}